In [1]:
import pandas as pd

In [240]:
df = open("day5data.txt")
data = df.readlines()

In [176]:
df = open("day5test.txt")
data = df.readlines()

In [241]:
len(data)

500

In [242]:
split = pd.DataFrame(columns = range(4), index = range(len(data)))

In [243]:
for i in range(len(data)):
    a = data[i]
    a = a.replace(',', ' ').replace('->', ' ')
    splitted = a.split()
    split.iloc[i] = splitted

In [244]:
split

       0    1    2    3
0    223  805  223  548
1    609  164  609  503
2    461  552  796  552
3    207  361  207   34
4    503  879  503  946
..   ...  ...  ...  ...
495  387  601  387  597
496  355  186  782  613
497  866  435  816  435
498   96  161  764  161
499  971   29   21  979

[500 rows x 4 columns]

In [129]:
lineMap = pd.DataFrame(columns = range(1000), index = range(1000))
lineMap.values[:] = 0

In [130]:
lineMap

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
for j in range(len(split)):
    if split.loc[j,0] == split.loc[j,2]:
        x = int(split.loc[j,0])
        y1 = int(split.loc[j,1])
        y2 = int(split.loc[j,3])
        if y2 > y1:
            lineMap.loc[y1:y2,x] += 1
        else: 
            lineMap.loc[y2:y1,x] += 1
    elif split.loc[j,1] == split.loc[j,3]:
        y = int(split.loc[j,1])
        x1 = int(split.loc[j,0])
        x2 = int(split.loc[j,2])
        if x2 > x1:
            lineMap.loc[y,x1:x2] += 1
        else:
            lineMap.loc[y,x2:x1] += 1

In [132]:
lineMap

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
lineMap.max().max()

4.0

In [134]:
removeOverlaps = lineMap[lineMap < 2]

In [135]:
removeOverlaps.isnull().sum().sum()

7142

In [247]:
lineMap = pd.DataFrame(columns = range(1000), index = range(1000))
lineMap.values[:] = 0

In [248]:
for j in range(len(split)):
    if split.loc[j,0] == split.loc[j,2]:
        x = int(split.loc[j,0])
        y1 = int(split.loc[j,1])
        y2 = int(split.loc[j,3])
        if y2 > y1:
            lineMap.loc[y1:y2,x] += 1
        else: 
            lineMap.loc[y2:y1,x] += 1
    elif split.loc[j,1] == split.loc[j,3]:
        y = int(split.loc[j,1])
        x1 = int(split.loc[j,0])
        x2 = int(split.loc[j,2])
        if x2 > x1:
            lineMap.loc[y,x1:x2] += 1
        else:
            lineMap.loc[y,x2:x1] += 1
    else:
        x1 = int(split.loc[j,0])
        x2 = int(split.loc[j,2])
        y1 = int(split.loc[j,1])
        y2 = int(split.loc[j,3])
        if x2 > x1:
            if y2 > y1:
                X = range(x1,x2+1)
                Y = range(y1,y2+1)                
                for i in range(len(X)):
                    lineMap.loc[Y[i], X[i]] += 1
            else:
                X = range(x1,x2+1)
                Y = range(y1,y2-1, -1)
                for i in range(len(X)):
                    lineMap.loc[Y[i], X[i]] += 1
        else:
            if y2 > y1:
                X = range(x1,x2-1,-1)
                Y = range(y1,y2+1)
                for i in range(len(X)):
                    lineMap.loc[Y[i], X[i]] += 1
            else:
                X = range(x1,x2-1, -1)
                Y = range(y1,y2-1, -1)
                for i in range(len(X)):
                    lineMap.loc[Y[i], X[i]] += 1

In [249]:
lineMap.max().max()

5.0

In [250]:
removeOverlaps = lineMap[lineMap < 2]

In [251]:
removeOverlaps.isnull().sum().sum()

20012

In [239]:
lineMap

   0  1  2  3  4  5  6  7  8  9
0  1  0  1  0  0  0  0  1  1  0
1  0  2  1  1  0  0  0  2  0  0
2  0  0  3  0  1  0  1  1  1  0
3  0  0  0  2  0  2  0  2  0  0
4  0  1  1  2  3  1  3  2  1  1
5  0  0  0  1  0  2  0  0  0  0
6  0  0  1  0  0  0  1  0  0  0
7  0  1  0  0  0  0  0  1  0  1
8  1  0  0  0  0  0  0  0  2  0
9  2  2  2  1  1  1  0  1  0  0

In [233]:
lineMap = pd.DataFrame(columns = range(10), index = range(10))
lineMap.values[:] = 0

x1 = 4
x2 = 1
y1 = 4
y2 = 1
if x2 > x1:
    if y2 > y1:
        X = range(x1,x2+1)
        Y = range(y1,y2+1)                
        for i in range(len(X)):
            lineMap.loc[Y[i], X[i]] += 1
    else:
        X = range(x1,x2+1)
        Y = range(y1,y2-1, -1)
        for i in range(len(X)):
            lineMap.loc[Y[i], X[i]] += 1
else:
    if y2 > y1:
        X = range(x1,x2-1,-1)
        Y = range(y1,y2+1)
        for i in range(len(X)):
            lineMap.loc[Y[i], X[i]] += 1
    else:
        X = range(x1,x2-1, -1)
        Y = range(y1,y2-1, -1)
        for i in range(len(X)):
            lineMap.loc[Y[i], X[i]] += 1
lineMap

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

In [226]:
lineMap

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0